<h1>Pets</h1>
<p id="notice"><%= notice %></p>

<%= search_form_for @search, url: pets_path do |f| %>
  <div class="row">
    <div>
      <div>
        <%= f.select :select_animal_eq, Pet.select_animals_i18n.invert.map{|key, value| [key, Pet.select_animals[value]]}, { include_blank: "選択してください" } %>
        <%= select_tag "sort", options_for_select([['選択してください', ''], ['新しい順', 1], ['古い順', 2]]) %>
      </div>
      <div>
        <%= f.submit %>
      </div>
    </div>
  </div>
<% end %>

<p>
  <%= link_to '新しい順', pets_path(early_registration_date: "true") %>
  <%= link_to '古い順', pets_path(old_registration_date: "true") %>
</p>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @pets.each do |pet| %>
      <tr>
        <td><%= image_tag pet.image.url, size:"80x80" %></td>
        <td><%= pet.content %></td>
        <% if current_user %>
          <td><%= link_to '詳細', pet %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user %>
  <% if current_user.role == "recruiter" %>
    <%= link_to '新規の募集を投稿する', new_pet_path %>
  <% end %>

  <% if current_user.role != "recruiter" %>
    <%= link_to 'お気に入り登録一覧', favorites_path %>
  <% end %>
<% end %>

<% unless current_user %>
  <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %>
  <%= link_to 'ゲスト管理者ログイン（閲覧用）', users_guest_admin_sign_in_path, method: :post %>
<% end %>