<p id="notice"><%= notice %></p>

<p>
  <strong>画像:</strong>
  <%= image_tag @pet.image.url %>
</p>

<% if current_user.role != "recruiter" %>
  <% unless @pet.user_id == current_user.id %>
    <% if @favorite.present? %>
      <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
    <% else %>
      <%= link_to 'お気に入りする', favorites_path(pet_id: @pet.id), method: :post, class: 'btn btn-primary' %>
    <% end %>
  <% end %>
<% end %>

<% unless @pet.user_id == current_user.id %>
  <%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: @pet.user.id), method: :post %>
<% end %>
<%= link_to 'TOPに戻る', pets_path %>

<% if current_user.role == "recruiter" && @pet.user_id == current_user.id %>
  <%= link_to '編集', edit_pet_path(@pet) %>
  <%= link_to '削除', @pet, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>